<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>contact us</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style type="text/css">
	.fa-square-twitter
	{
		font-size: 20px;
		color: deepskyblue;
	}
		.fa-square-facebook{
			font-size: 20px;
		color: blue;

		}
		.fa-whatsapp{
			font-size: 20px;
		color: green;
		}
		.fa-square-youtube{
			font-size: 20px;
		color: red;

		}
	
</style
	
</head>
<body>
	<i class="fa-brands fa-square-twitter"></i>

	<i class="fa-brands fa-square-facebook"></i>

	<i class="fa-brands fa-whatsapp"></i>

	<i class="fa-brands fa-square-youtube"></i>

	<div class="col-">
	    <ul class="nav" class="do">
		    <li><a href="index.html" class="mom"><strong>Home</a></li></strong>
		    <li><a href="instructors.html" class="mom"><strong>Instructors</a></li></strong> 
		    <li><a href="News.html" class="mom"><strong>News</a></li></strong>
		    <li><a href="Contact us.html" class="mom"><strong>Contact us</a></li></strong>
	    </ul>
	    <form>
	<div class="row do">
		<div class="col-6">
			<div class="do"><label><strong>First Name</label></div></strong>
			<input type="text" name="" placeholder="Enter Your First Name">
		</div>
		<div class="col-6">
			<div class="do"><label><strong>Last Name</label></div></strong>
			<input type="text" name="" placeholder="Enter Your Last Name">
		</div>
		</div>

		</div>
	</div>
	<div class="row do">
			<div class="col-6">
				<div class="do"><label><strong>Email</label></div></strong>
				<input type="" name="" placeholder="Enter Your Email">
			</div>
			<div class="col-6">
				<div class="do"><label><strong>Phone</label></div></strong>
				<input type="" name="" placeholder="Enter Your Number">
			</div>
	</div>
	<div class="row do">
		<div class="col-12">
		<div class="do"><label><strong>Write Message</label></div><textarea placeholder=""></textarea></strong>
		</div>
	</div>
		<div class="row">
			<div col-12>
			</div>


	   </div>

</body>
</html>