<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-learning website</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="../css/main.css">
<style type="text/css">
	.fa-square-twitter
	{
		font-size: 30px;
		color: deepskyblue;
	}
		.fa-square-facebook{
			font-size: 30px;
		color: blue;
		}
		.fa-whatsapp{
			font-size: 30px;
		color: green;
		}
		.fa-square-youtube{
			font-size: 30px;
		color: red;

		}
	
</style
	
</head>
<body>
	<i class="fa-brands fa-square-twitter"></i>

	<i class="fa-brands fa-square-facebook"></i>

	<i class="fa-brands fa-whatsapp"></i>

	<i class="fa-brands fa-square-youtube"></i>
	<div class="col-12">
	    <ul class="nav" class="mom">
		    <li><a href="templates/index.html" class="mom"><strong>Home</a></li></strong>
		    <li><a href="templates/instructors.html" class="mom"><strong>Instructors</a></li></strong> 
		    <li><a href="templates/News.html" class="mom"><strong>News</a></li></strong>
		    <li><a href="templates/index.html" class="mom"><strong>Contact us</a></li></strong>
		    </div>
		    	
		    </div>
	    </ul>
	    <div class="row do">
	    <div class="col-12">	
		<h3 class="mom" align="center">INSTRUCTORS</h3>
	</div>
        </div>
		 <div class="row">
    	
    	<div class="col-3 r">
    		<h3 class="mom r">Thomas-A-Edison</h3>
    		<img src="..\images\replica-Thomas-A-Edison-lightbulb-1925.jpg" width="250" height="200">
    		 <h3 class="mom r">THE INCADESCENT LIGHT BULB</h3>
                  <P class="mom" align="center"><strong>1847-1931</P></strong>
    		
    	</div>
    	<div class="col-4 r">
    		<h3 class="mom">Charles Babage</h3>
    		<img src="..\images\Charles-Babbage-1871.jpg" width="250" height="200">
    		 <h3 class="mom r">COMPUTER</h3>
                  <P class="mom" align="center"><strong>1791-1871</P></strong>
    		
    	</div>
    	<div class="col-3 r">
    		<h3 class="mom r">james-watt</h3>
    		<img src="..\images\james-watt-768x1152.webp" width="250" height="200">
    		 <h3 class="mom r">THE STEAM ENGINE</h3>
                  <P class="mom" align="center"><strong>1736-1819</P></strong>
    		
    	</div>
    	<div class="col-3 r">
    		<h3 class="mom r">Galileo-galilei</h3>
    		<img src="../images\galileo-galilei-gettyimages-51246872.jpg" width="250" height="200">
    		 <h3 class="mom r">TELESCOP</h3>
                  <P class="mom" align="center"><strong>Gallelio</P></strong>
    	</div>
    </div>
    	 <div class="row">
	    <div class="col-12">	
	</div>
        </div>
		 <div class="row do">
    	
    	<div class="col-3 r">
    		<h3 class="mom r">Alexander-graham-bell</h3>
    		<img src="..\images\jpmultienglishkidzone-alexander-graham-bell-low1.jpg" width="250" height="200">
    		 <h3 class="mom r">TELEPHONE</h3>
                  <P class="mom r" align="center"><strong>1847-1922</P></strong>
    		
    	</div>
    	<div class="col-3 r">
    		<h3 class="mom r">wright-brothers</h3>
    		<img src="..\images\wright_brothers_5d1a0c6a-b761-455c-b6d4-13bb1b013993.png" width="250" height="200">
    		 <h3 class="mom r">FIRST FLIGHT</h3>
                  <P class="mom r" align="center"><strong>1871-1948</P></strong>
    		
    	</div>
    	<div class="col-3 r">
    		<h3 class=" mom r">leonardo da vinci </h3>
    		<img src="..\images\WH11744D.jpg" width="250" height="200">
                  <h3 class="mom r">PARACHUTE</h3>
                  <P class="mom" align="center"><strong>1452-1519</P></strong>
    	</div>
    	<div class="col-3 r">
    		<h3 class="mom r"></h3>
    		<h3 class="mom r">TESLA COIL</h3>
    		<img src="..\images\tesla-1.jpg" width="250" height="200">
    		 <h3 class="mom r">NIKOLA TESLA</h3>
                  <P class="mom r" align="center"><strong>1856-1943</P></strong>

    	
    	</div>

    </div>
	</body>
		

