<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AFRICAN NEWS </title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style type="text/css">
	.fa-square-twitter
	{
		font-size: 20px;
		color: deepskyblue;
	}
		.fa-square-facebook{
			font-size: 20px;
		color: blue;
		}
		.fa-whatsapp{
			font-size: 20px;
		color: green;
		}
		.fa-square-youtube{
			font-size: 20px;
		color: red;

		}
	
</style
	

<body>
	<i class="fa-brands fa-square-twitter"></i>

	<i class="fa-brands fa-square-facebook"></i>

	<i class="fa-brands fa-whatsapp"></i>

	<i class="fa-brands fa-square-youtube"></i>







	<div class="col-12">
	    <ul class="nav" class="mom">
		    <li><a href="templates/index.html" class="mom"><strong>Home</a></li></strong>
		    <li><a href="templates/instructors.html" class="mom"><strong>Instructors</a></li></strong> 
		    <li><a href="templates/News.html" class="mom"><strong>News</a></li></strong>
		    <li><a href="templates/Contact us.html" class="mom"><strong>Contact us</a></li></strong>
	    </ul>
	</div>
	<div class="row do">
		<div class="col-6"></div>
		<div class="col-6">
			<h3>NEWS</h3>
		</div>
	</div>
		<div class="col-3"></div>
	</div>
	</div>
	<div class="row do">
		<div class="col-12">
			<h3 class="mom" align="center">The Bridget jones: The Edge of Reason (2004)</h3>
			<P class="do">Three years later, Bridget returned to her love turmoils with Dacy and cleaver.Though some scenes were shot in lech, Austria and Thailand,the roots of the franchies remained in London.

				Fans of the Bridget jones franchies will have a special place in their hearts for Borough market, with exterior of Globe Tavern being Bridget's original London pad.However, she has since up and left leafy Hampstead north of the river.


				yet it is not the last we see of the bustling London market area, as at one point the mother-of-two and her new beau Roxster are seen wandering thruogh the stall. The  scene then cuts to the bar,which is actually all the way on the other side of the London on portobello Road, the Electric Diner, now a soho House property that brings the diner experience to a swanky level.
			 </P>
			 <h3><strong>BRIDGET JONES</h3></strong>

			<img src="..\images\9f65862f88e96d548cc4ebcbea670d58.webp.jpg">
			<h3>in on the most memorable scenes from this fourth instalment,a colin firth Darcy-esque moment takes place (pride and prejudice's Mr Darcy, of course, not Bridget jones's mark Darcy) where Roxster flings himself into swimming pool at a garden party to rescue adog, rising from the water with a soaking white shirt.</h3>
		</div>
	</div>
		</div class="row">
		<div class="col-12 do">
			<h3 class="mom" align="center">SECOND DRC CONGO CITY FALLS TO RWANDA-BACKSD REBELS</h3>
			<P class="do">Rwanda-backed M23 rebels has enters Bukavu, the second-largest city in the eastern Democratic Republic of Congo,seizing the regional governor's office. some people lined the streets to clap and cheer the fighters as they marched and drove into the city centre without resistance. it is the second city after Goma to fall to the rebels in minerals-rich region in the past fews weeks.</p>
			<p>the congolese government has acknowledged its fall and urged residences to staye home "to avoid being targeted by the occupying forces."</p>
			<p>The UN and European countries have warned that the lastest offensive, which has seem hundreds of thousands of people forced from their homes, could spark a wider regional war</p>
			</div>
                         <h3><strong>JUMA KEELE</h3></strong>
			<img src="..\images\e00b3400-ec89-11ef-bd1b-d536627785f2.jpg.jpeg">
		</div>

		</div class="row">
		<div class="col-12 do">
			<h3 class="mom" align="center">Detained Ugandan opposition figure treated in clinic overnight</h3>
			<P>Detained Uganda opposition politician Kizza Besigye, on hunger strike for a week, has been returned to prison after being in a clinic overnight,his allies have said</P>
			<p>The 68-year-old was rushed to private medical facility in prison ambulance as his health was deteriorating, his lawyer Eras wrote earlier on facebook.</p>
			<p> Besigye was charged in milliatary court with illegal possession of a firearm, threating national security,as well as treason, which carries daeth sentence. He denies the accusations</p>
			<P> The news about his health came hours after a cabinet minister said he had seen Besigye in jail. He urged him to resume eating and pleged to drop his military trial.</P>
			<h3> KIZZA BESIGYE</h3>
			<img src="..\images\dec73420-ecfe-11ef-a42c-d793be61fa9c.jpg.jpeg">

		</div>
		</div class="row">
		<div class="col-12 do">
			<h3 class="mom" align="center">THE UCREPP</h3>
			<P class="do">The UCREPP was approved by the world Bank on july 15,2025, with initial funding of US$ 15.2 million,of which 7.3 million was availed from the pandemic emergency financing facility Trust Fund ans US$ 2.7 million as international development agency cred. The project Development Objective of UCREPP is to prevent, detect and repond to Covid-19 and strengthen National systems for public health emergency prepaedness in  Uganda</P>
		<h3><strong>LONG JONES</h3></strong>
			<img src="../images\work-5382501_640.jpg">
		</div>

	</div>
		

</body>
</html>